<h1>dashboard</h1>
<div class="container">
	<h3>Product Summaries</h3>
	<table>	
		<tr>
			<th>Product</th>
			<th>Sale</th>
			<th>Lost/Stolen</th>
			<th>Returned To Supplier</th>
			<th>Returned</th>
		</tr>
		<tr ui-sref="transactions-by-product-id({productId: product.id})" ng-repeat="product in dashboard.productSummaries">
			<td>{{product.name}}</td>
			<td>{{product.unitsOrdered}}</td>
			<td>{{product.totalStolen}}</td>
			<td>{{product.unitsReturned}}</td>
			<td>{{product.unitsReturned}}</td>
		</tr>
	</table>
		<h3>Transaction Summaries</h3>
	<table>
		<tr>
			<th>Transaction Type</th>
			<th ng-click="dashboard.filterBy(1)">Sale</th>
			<th ng-click="dashboard.filterBy(2)">Lost/Stolen</th>
			<th ng-click="dashboard.filterBy(3)">Returned To Supplier</th>
			<th ng-click="dashboard.filterBy(4)">Inventory Purchase</th>
			<th ng-click="dashboard.filterBy(5)">Returned</th>
			<th ng-click="dashboard.filterBy(6)">Returned Defective</th>
		</tr>
		<tr>
			<td>Number of Transactions</td>
			<td>{{dashboard.numberOfTransactions[0]}}</td>
			<td>{{dashboard.numberOfTransactions[1]}}</td>
			<td>{{dashboard.numberOfTransactions[2]}}</td>
			<td>{{dashboard.numberOfTransactions[3]}}</td>
			<td>{{dashboard.numberOfTransactions[4]}}</td>
			<td>{{dashboard.numberOfTransactions[5]}}</td>
		</tr>
		<tr>
			<td>Inventory Affected</td>
			<td>-{{dashboard.inventoryAffected[0]}}</td>
			<td>{{dashboard.inventoryAffected[1]}}</td>
			<td>-{{dashboard.inventoryAffected[2]}}</td>
			<td>{{dashboard.inventoryAffected[3]}}</td>
			<td>{{dashboard.inventoryAffected[4]}}</td>
			<td>{{dashboard.inventoryAffected[5]}}</td>
		</tr>
		<tr>
			<td>Total Cost</td>
			<td>{{dashboard.totalCost[0] | currency}}</td>
			<td>{{dashboard.totalCost[1] | currency}}</td>
			<td>{{dashboard.totalCost[2] | currency}}</td>
			<td>{{dashboard.totalCost[3] | currency}}</td>
			<td>{{dashboard.totalCost[4] | currency}}</td>
			<td>{{dashboard.totalCost[5] | currency}}</td>
		</tr>
		<tr>
			<td>Total Revenue</td>
			<td>{{dashboard.totalRevenue[0] | currency}}</td>
			<td>{{dashboard.totalRevenue[1] | currency}}</td>
			<td>{{dashboard.totalRevenue[2] | currency}}</td>
			<td>-{{dashboard.totalRevenue[3] | currency}}</td>
			<td>{{dashboard.totalRevenue[4] | currency}}</td>
			<td>{{dashboard.totalRevenue[5] | currency}}</td>
		</tr>
		<tr>
			<td>Total Profit</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</table>
		<h3>Transactions</h3>
	<table>
		<tr>
			<th>Transaction Id</th>
			<th>Transaction Type</th>
			<th>Transaction Date</th>
			<th>Notes</th>
			<th>Amount</th>
			<th>Price</th>
			<th>Cost</th>
		</tr>
		<tr ng-repeat="transaction in dashboard.currentTransactions">
			<div ui-sref="transaction-details({transId: transaction.id})">
				<td>{{transaction.id}}</td>
				<td>{{transaction.type.description}}</td>
				<td>{{transaction.date|date:'medium'}}</td>
				<td>{{transaction.note}}</td>
				<td>{{transaction.totalAmt}}</td>
				<td>{{transaction.totalPrice|currency}}</td>
				<td>{{transaction.totalCost|currency}}</td>
			</div>
		</tr>
	</table>
</div>
