<div class="container form-container">
	<form>
		<h4>{{objToPurchase.currentProduct.name}}</h4>
		<h4>{{objToPurchase.currentProduct.price}}</h4>
		<div><input type="number" min="0" step ="1" placeholder="How many?" ng-model="objToPurchase.currentTransaction.qty"></div>
		<div>subtotal: <span>{{objToPurchase.currentProduct.price * objToPurchase.currentTransaction.qty | currency}}</span></div>
		<hr>
		<div class="btn btn-purchase" ng-click="objToPurchase.addToCart(objToPurchase.currentTransaction)">Add To Cart</div>
		<div class="btn" ui-sref="products">Keep Shopping</div>
	</form>
</div>